/*@tailwind base;*/
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,400;1,700&display=swap');
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::-webkit-scrollbar{
  display: none;
}
body, html{
  background-color: #fff;
}
a{
  color: #000 !important
}
a:hover{
  color: red;
}
.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
   .trigger:hover {
    color: #1890ff;
  }
  
   .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    text-align: center
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }
  
  .layout {
    min-height: 100vh ;
    height: auto;
  }

  
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#components-collapse-demo-collapsible .ant-space {
  width: 100%;
}
.ant-collapse-header{
  align-items: center !important;
  padding: .5rem 0 !important;
}

.ant-tag-checkable:not(.ant-tag-checkable-checked):hover, .ant-tag-checkable-checked {
    background-color: transparent!important;
}

p{
   color: #444b52
}

#components-dropdown-demo-arrow .ant-btn {
    margin-right: 8px;
    margin-bottom: 8px;
}
.ant-row-rtl #components-dropdown-demo-arrow .ant-btn {
    margin-right: 0;
    margin-bottom: 8px;
    margin-left: 8px;
}