@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,400;1,700&display=swap');

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body, html {
  background-color: #fff;
}

.ant-typography a {
  color: initial;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}


.logo>a {
  color: #dfe1e4;
}

.site-layout .site-layout-background {
  background: #fff;
}

.layout {
  min-height: 100vh;
  height: auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent !important;
  ;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
p {
  color: #444b52
}