/*@tailwind base;*/
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,400;1,700&display=swap');
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/**::-webkit-scrollbar{*/
/*  display: none;*/
/*}*/
body, html{
  background-color: #fff;
}

.ant-typography a {
    color: initial;
}

.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
   .trigger:hover {
    color: #1890ff;
  }
  
   .logo {
    display: grid;
    place-items: center;
  }

   .logo > a{
       color: #dfe1e4;
   }
  
  .site-layout .site-layout-background {
    background: #fff;
  }
  
  .layout {
    min-height: 100vh ;
    height: auto;
  }

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent!important;;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#components-collapse-demo-collapsible .ant-space {
  width: 100%;
}
.ant-collapse-header{
  align-items: center !important;
  padding: .5rem 0 !important;
}

.ant-tag-checkable:not(.ant-tag-checkable-checked):hover, .ant-tag-checkable-checked {
    background-color: transparent!important;
}

p{
   color: #444b52
}

/*#components-dropdown-demo-arrow .ant-btn {*/
/*    margin-right: 8px;*/
/*    margin-bottom: 8px;*/
/*}*/
/*.ant-row-rtl #components-dropdown-demo-arrow .ant-btn {*/
/*    margin-right: 0;*/
/*    margin-bottom: 8px;*/
/*    margin-left: 8px;*/
/*}*/

/*.ant-divider-horizontal.ant-divider-with-text-center::before,*/
/*.ant-divider-horizontal.ant-divider-with-text-center::after*/
/*{*/
/*    border-top: 1px solid #000000;*/
/*}*/

.ant-col.ant-form-item-label {
    width: 30% !important;
    text-align: left!important;
}

.ant-col.ant-form-item-control{
    width: 100% !important;
}



/*.no-style-form .ant-col.ant-form-item-label,*/
/*.no-style-form .ant-col.ant-form-item-control*/
/*{*/
/*    width: auto !important;*/
/*    display: inline-block !important;*/
/*}*/

.collection-create-form_last-form-item {
    margin-bottom: 0;
}